/CMakeCache.txt
/CMakeFiles
/Makefile
/build
/build.ninja
/cluster.env
/cmake_install.cmake
/cxx_modules_rules_clang.cmake
/temp.txt
main
/test/CMakeFiles
/test/CMakeCache.txt
.ninja_deps
.ninja_log
test/cmake_install.cmake
infer-out
/_deps
cpm-package-lock.cmake
test/Makefile
test/mytests
/.cache
/output
test.mp4
