/CMakeCache.txt
/CMakeFiles
/CMakeLists.txt
/Makefile
/build
/build.ninja
/cluster.env
/cmake_install.cmake
/cxx_modules_rules_clang.cmake
/temp.txt
/.vscode
main
/test/CMakeFiles
/test/CMakeCache.txt
.ninja_deps
.ninja_log
test/cmake_install.cmake
