# authenticator
neo4j={
    host = "192.168.43.127";
    port = "7474";
}

minio={
    url = "https://192.168.0.3:31664";
    accessKey = "minio";
    secretKey = "minio123";
}

mysql={
    host = "192.168.0.3";
    username = "root";
    password = "fbeoHH4US8";
    database = "bookflavor";
    port = "30238";
}